/* .button-start {
  visibility: hidden; }*/
/* isso deve acontecer somente quando troco de frame */
body {
  background-color: #6d6e72;
}

#main {
  background-image: url("https://as1.ftcdn.net/v2/jpg/00/95/81/66/1000_F_95816634_mEJHD6BqSwHl7dNix8FTYIF4I5vLUEK7.jpg");
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
